{
    "high-scores": false,
    "controller": "none",
    "game-mode": "lives",
    "pre-html": "",
    "centered": false,
    "show-webad": false,
    "show-instructions": true,
    "sound": false,
    "debug": false
}
