{
    "high-scores": false,
    "controller": "none",
    "game-mode": "lives",
    "pre-html": "",
    "centered": false,
    "show-webad": false,
    "show-instructions": true,
    "show-control-buttons": true,
    "sound": false,
    "sound-dir": "sounds/default",
    "debug": false
}
